/* ================================ *\
    Breakpoints
\* ================================ */
$breakpoint-mobile-max: 480px;

$breakpoint-tablet-min: $breakpoint-mobile-max + 1px;
$breakpoint-tablet-max: 1024px;

$breakpoint-desktop-min: $breakpoint-tablet-max + 1px;
$breakpoint-desktop-max: 1336px;

$gap: 15px;