/* ================================ *\
              FONT
\* ================================ */
$font-path: '../fonts/';

$font_headline: 'Noto Serif', Georgia, serif;
$font-paragraph: 'Helvetica Neue', Arial, Verdana, sans-serif;
$font-count: 'count', 'Courier New', Arial, sans-serif;

$font-weight: (
        "thin": 100,
        "light": 300,
        "regular": 400,
        "semibold": 600,
        "bold": 700,
        "black": 900
);


$font-size-paragraph: 14px;