/* ================================ *\
              COLORS
\* ================================ */

// GLOBAL
// ================================
$color_primary: #f00;
$color_secondary: #151515;

$color_alert: #c00;
$color_success: #B4FF3E;
$color_hint: #E89A0C;
$color_admin: #356bb5;

$color_white: #fff;
$color_black: #151515;

$color_grey: #ededed;
$color_greydark: #ccc;
$color_dark: #231f20;
$color_batdark: #151515;

$color-headline: $color_black;
$color-paragraph: #313131;
$color-background: $color_grey;

// Social
$color-facebook: #3c5998;
$color-twitter: #55acee;
$color-gplus: #dc4a38;
$color-youtube: #e62117;
$color-rss: #ff6c00;
$color-instagram: #3f729b;
$color-whatsapp: #00E676;