<title>Kölner Kickerliga - Showroom</title>

<!-- .META -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i" rel="stylesheet">