/* LINKS
======================================= */
a {
  @include _link-default() {
    color: $color_primary;
    text-decoration: underline;
    @include _transition(all);
  }

  @include _link-active() {
    color: darken($color_primary, 10%);
  }
}