/* ================================ *\
FONT include
\* ================================ */
@font-face {
  font-family: 'count';
  src: url('#{$font-path}/count/digital_counter_7-webfont.eot');
  src: url('#{$font-path}/count/digital_counter_7-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/count/digital_counter_7-webfont.woff') format('woff'),
       url('#{$font-path}/count/digital_counter_7-webfont.ttf') format('truetype'),
       url('#{$font-path}/count/digital_counter_7-webfont.svg#count') format('svg');
  font-weight: normal;
  font-style: normal;
}