hr {
  height: 1px;
  border: 1px;
  background: $color_greydark;
  margin: 15px 0;
}

/* HEADLINES
======================================= */
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0 0 5px 0;
  @include _font-headline('regular', $color-paragraph);
  @include _font-size(calc(#{$font-size-paragraph} + 3vw));
}

h2 {
  margin: 0 0 5px 0;
  @include _font-headline('regular', $color-paragraph);
  @include _font-size(18px);
}

h3 {
  margin: 0;
  @include _font-headline('bold', $color-paragraph);
  @include _font-size(16px);
}