@mixin _reset-glow(){
  &:focus{
    outline: none;
    box-shadow: none;
  }
}


@mixin _reset-form(){
  @include _reset-glow();
}


@mixin _reset-lists(){
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    margin: 0;
    padding: 0;
  }
}