/* ================================ *\

    Set margin for child elem.
    in lists / grid

\* ================================ */
@mixin _list-child-margin($margin: 15px, $div: '*', $direction: 'right') {
  > #{$div} {
    margin-#{$direction}: $margin;

    &:last-child {
      margin-#{$direction}: 0;
    }
  }
}