// import styles here
@import "_____settings/settings";
@import "____utils/utils";
@import "___base/base";
@import "__molecules/molecules";

@import "_vendor/slick";
@import "_vendor/slick-theme";

main {
    position: relative;
    width: 100%;
    height: calc(100vh - #{$bar-nav-height});
    margin: 0;
    padding: 0;
}