article.fact {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 3vh 3vw;

    text-align: center;

    h1 {
        width: 100%;
        height: 18vh;
        @include _display-flex(flex, center, flex-end, column);
        @include _font-size(calc(#{$font-size-paragraph} + 3vw));
    }

    .answer {
        margin-top: $gap*2;

        h2 {
            @include _font-headline('bold', $color-paragraph);
            @include _font-size(calc(#{$font-size-paragraph} + 4vw));
        }
    }
}