article.fact .answer {
    @include _font-size(calc(#{$font-size-paragraph} + .1vw));

    ul.table {
        @include _reset-lists();
        @include _list-child-margin(0, 'li', 'bottom');
        margin: 0 6vw;

        @include _respond-to('desktops') {
            margin: 0 10vw;
        }

        li {
            @include _display-flex(flex, flex-start, stretch, row);
            padding: 3px;

            &:nth-child(even) {
                background: rgba($color-paragraph, .1);
            }

            &.thead {
                margin-bottom: 5px;

                @include _font-paragraph('bold', $font-paragraph);
                border-bottom: 1px solid rgba($color-paragraph, .3);
            }
        }
    }

    li > span {
        flex: 1;

        &.index {
            flex: 0 0 $gap;
            text-align: right;
            @include _font-headline('regular', rgba($color-paragraph,.5));
            @include _font-size($font-size-paragraph);
        }

        &.team {
            flex: 0 0 33%;
            @include _font-paragraph('bold', $color-paragraph);
        }
    }
}