<article class="fact">
  <h1>welches team tritt im schnitt mit den meistern spielern an 2019/2017?</h1>

  <div class="answer">

    <ul class="table">
      <li class="thead">
        <span class="index">#</span>
        <span class="team">Team</span>
        <span>Spiele</span>
        <span>Anzahl Spieler</span>
        <span class="ratio">Ratio</span>
      </li>

      <li>
        <span class="index">1</span>
        <span class="team">BAM - Betreutes Kickern</span>
        <span>7</span>
        <span>66</span>
        <span>9.43</span>
      </li>
      <li>
        <span class="index">2</span>
        <span class="team">Drunken Devils</span>
        <span>5</span>
        <span>39</span>
        <span>7.80</span>
      </li>
      <li>
        <span class="index">3</span>
        <span class="team">Team F.I.K.C.³</span>
        <span>7</span>
        <span>54</span>
        <span>7.71</span>
      </li>
    </ul>

  </div>

</article>